body {
  font-family: 'Open Sans', sans-serif;
}

div#layout2 {
  text-align: center;
}

div#container2 {
  width: 1340px;
  height: 620px;
  margin: auto;
  margin-bottom: 24px;
  background-color: #2F4A6D;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

#graph2 text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}



#graph2 text.divergence {
  font-size: 12px;
  fill: #2F4A6D;
}

#graph2 text.value {
  font-size: 12px;
}

#graph2 text.title {
  font-size: 22px;
  font-weight: 600;
}

#graph2 text.label {
  font-size: 18px;
  font-weight: 400;
}

#graph2 text.source {
  font-size: 12px;
}