#containerStatis2 {
  width: 1340px;
  height: 1800px;
  float: left;
  margin: auto;
  margin-bottom: 12px;
  background-color: #2F4A6D;
}

#stati2 text {
  font: 0.72rem  sans-serif;
  color: white;
  fill: white;
}

rect.background {
  fill: #2F4A6D;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
}