#containerStatis {
  width: 100%;
  margin: auto;
  margin-bottom: 8px;
  background-color: #2F4A6D;
}

#stati text {
  font: 0.76rem  sans-serif;
  color: white;
  fill: white;
}

rect.background {
  fill: #2F4A6D;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
}