.containerG {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  zoom: 1;
  margin-bottom: 0;
  color: white;
  font-size: 100%;
  background-color: rgb(57, 162, 163);
}

.containerG h3{
  font-size: 170%;
} 
.containerG p{
  font-size: 125%;
}

.buttonContractG{
  cursor: pointer;
  border:0;
  padding: 2%;
  font-size: 100%;
  width: 80%;
  background-color: black;
  color: white;
}
.buttonContractG:hover{
  transform: scale(0.94);
}

.buttonInv{
  cursor: pointer;
  border: none;
  padding: 1% 0.5%;
  border-radius: 8px;
  color: black;
  background-color: #E33535;
  font-size: 100%;
}
.buttonInv:hover{
  transform: scale(0.92);
}
.buttonInv2{
  cursor: pointer;
  border: none;
  padding: 1% 0.5%;
  border-radius: 8px;
  color: white;
  background-color: black;
  font-size: 100%;
}
.buttonInv2:hover{
  transform: scale(0.92);
}
.buttonRep{
  cursor: pointer;
  border: none;
  width: 72%;
  padding: 1% 0.5%;
  border-radius: 8px;
  color: black;
  background-color: white;
  font-size: 120%;
}
.buttonRep:hover{
  transform: scale(1.12);
}

/* PARA LA LISTA */
.DivComprasG {
  margin: 0; 
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: inherit;
}
.DivComprasG p{
  color:rgb(239, 219, 73);
  margin-bottom: 0;
  font-size: 120%;
}
.ClistG{
  display: table;
  width: 100%;
  max-width: 100%;
  height: 5.2%;
  max-height: 5.2%;
}
.ClistG li{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: none;
  padding: 6px;
  font-size: 0.8rem;
}

.ClistG li:before{
  content: '✓ ';
}

.divSe input{
  vertical-align: middle;
  cursor: pointer;
  height: 32px;
  width: 32px;
}