.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  zoom: 1;
  margin-bottom: 0;
  color: white;
  background-color: #2F4A6D;
}

.linkG{
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 175%;
}
.link1g{
  display: inline-block;
  margin-left: 2%;
}
.link2g{
  float: right;
  margin-right: 3%;
}

textarea{
  width: 100%;
}

.buttonContract{
  cursor: pointer;
  border:0;
  padding: 3%;
  font-size: 1.34rem;
  width: 32%;
  background-color: rgb(128, 203, 196);
  color: black;
}
.buttonContract:hover{
  transform: scale(0.94);
}